body {
    background-color: #f5f5f5; /* Abu-abu muda */
    color: #333;
}
.navbar {
    background-color: #4CAF50 !important; /* Hijau */
}
.btn-success {
    background-color: #66BB6A; /* Hijau muda */
    border-color: #66BB6A;
}
.card {
    border: 1px solid #4CAF50;
}
